<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/uploadifive.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--最上面的两个按钮-->
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-primary" id="toAdd">添加</button>
                <button type="button" class="btn btn-danger">批量删除</button>
            </div>
        </div>

        <!--列表内容-->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>商品类别</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品图片</th>
                        <th>商品埋点</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="product:${pageInfo.list}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.typeName}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <img src="#" th:src="${product.images}"/>
                        </td>
                        <td th:text="${product.salePoint}"></td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">修改</button>
                            <button type="button" class="btn btn-danger btn-del" th:btnId="${product.id}">删除</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

        <!--分页信息-->
        <div class="row">
           <div class="col-md-6">
             当前第<span th:text="${pageInfo.pageNum}"></span>页，共<span th:text="${pageInfo.size}"></span>条记录,共<span th:text="${pageInfo.total}"></span>页
           </div>
            <div class="col-md-6">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--点击后的蓝色样式-->
                        <!--<li class="active"><a href="#">1</a></li>-->
                        <li th:each="pageNum:${pageInfo.navigatepageNums}" th:class="${pageNum==pageInfo.pageNum?'active':''}">
                            <a href="#" th:href="|product/page/${pageNum}/${pageInfo.pageSize}|" th:text="${pageNum}"></a></li>

                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</div>


    <!--添加的页面-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">商品添加</h4>
            </div>
            <div class="modal-body">
               <!--编辑页面表单-->
                <form class="form-horizontal" action="product/add" method="post" id="addForm">
                    <div class="form-group">
                        <label for="typeId" class="col-sm-2 control-label">商品类别</label>
                        <div class="col-sm-10">
                            <!--原本应该用树状图，这里使用默认赋值的方式-->
                            <input type="text" class="form-control" id="typeId" placeholder="" name="product.typeId" value="1"/>
                            <input type="hidden" name="product.typeName" value="电子数码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">商品名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="请输入商品名称!" name="product.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">商品价格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="price" placeholder="请输入商品价格!" name="product.price"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salePrice" class="col-sm-2 control-label">折扣价</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="salePrice" placeholder="请输入商品折扣价!" name="product.salePrice"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salePoint" class="col-sm-2 control-label">埋点</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="salePoint" placeholder="埋点!" name="product.salePoint"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="uploadImages" class="col-sm-2 control-label">商品图片</label>
                        <div class="col-sm-10">
                            <input type ="file" id="uploadImages" name="file"/>
                            <!--隐藏域来存储图片的路径-->
                            <input type="hidden" id="imagePath" name="product.images"/>
                            <!--选中图片后回显展示图片-->
                            <img src="#" id="showImage" style="..."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productDeseEditor" class="col-sm-2 control-label">商品描述</label>
                        <div class="col-sm-10">
                            <div id="productDeseEditor">

                            </div>
                            <!--需要隐藏域存储真正的信息-->
                            <input type="hidden" id="productDesc" name="productDesc"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="add">提交</button>
            </div>
        </div>
    </div>
</div>




    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>


    <!--引入文件上传的UploadiFive-->
    <script src="js/jquery.uploadifive.js"></script>

       <!--引入富文本框-->
    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>


    <script type="text/javascript">
        $(function () {
            //为添加按钮绑定事件
            $("#toAdd").click(function () {
                //绑定后调用弹框方法样式
                $('#addModal').modal({
                    backdrop:false

                });
            })


            //2.为提交按钮绑定事件
            $("#add").click(function () {
                //听取富文本框的内容。
                var productDescHTML = editor.txt.html();
                alert(productDescHTML);
                //填充到商品描述的隐藏域
                $("#productDesc").val(productDescHTML);

                //提交表单
                $("#addForm").submit();

            });





        //3,实现单个删除
           $(".btn-del").click(function () {
               if(confirm("确定删除吗？删除之后，数据不可恢复！")){
                   var id = $(this).attr("btnId");
                   $.ajax({
                       url : "product/delById/"+id,
                       type: "POST",
                       success : function (result) {
                           alert(result.data);
                           if(result.statusCode == 200){
                               location.href = "product/page/1/1";
                           }else{
                               alert(result.data);
                           }
                       }
                   });
               }


           })


        //5.文件上传
            $('#uploadImages').uploadifive({
                'fileObjName'  : 'file',
                'buttonText'   : '上传',
                'uploadScript' : 'file/upload',
                'onUploadComplete' : function(file, data) {
                    //如果返回的不是对象，需要将返回来的字符串转换为json对象
                    var data =JSON.parse(data);
                    if(data.statusCode == 200){
                        var src = "http://192.168.64.128/"+data.data;
                        $("#showImage").attr("src",src);
                        $("#showImage").show();

                        //给隐藏域赋值将值存到数据库中
                        $("#imagePath").val(data.data);
                    }else {
                        alert(data.data);
                    }
                }

            });

            //4.初始化富文本框组件
            var E = window.wangEditor;
            var editor = new E('#productDeseEditor');

            editor.customConfig.menus = [
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'fontName',  // 字体
                'italic',  // 斜体
                'underline',  // 下划线
                'justify',  // 对齐方式
                'image',  // 插入图片
                'table',  // 表格
                'video',  // 插入视频
                'undo',  // 撤销
                'redo'  // 重复
            ];

            // 配置服务器端地址
            editor.customConfig.uploadImgServer = 'file/multiUpload';

            //配置文件名对应传到后台的参数
            editor.customConfig.uploadFileName = 'files';

            editor.create();



        })

    </script>
</body>
</html>